/* =============
   Task board
============= */

.taskList {
  min-height: 40px;
  margin-bottom: 0;

  li {
    background-color: lighten($dark, 5%);
    border: 1px solid lighten($dark, 5%);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    font-size: 14px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .btn-sm {
      padding: 2px 8px;
      font-size: 12px;
    }

    &.task-success {
      border-left: 3px solid rgba($success, 0.5);
    }

    &.task-info {
      border-left: 3px solid rgba($info, 0.5);
    }

    &.task-danger {
      border-left: 3px solid rgba($danger, 0.5);
    }

    &.task-warning {
      border-left: 3px solid rgba($warning, 0.5);
    }
  }
  a {
    font-size: 13px;
    font-weight: 500;
  }
  .checkbox {
    margin-left: 20px;
    margin-top: 5px;
  }
}

.task-placeholder {
  border: 1px dashed lighten($dark, 15%)  !important;
  background-color: lighten($dark, 8%) !important;
  padding: 20px;
}