/* ===========
   Form Elements
 =============*/

label {
  font-weight: 500;
}

.form-control {
  border: 1px solid lighten($dark, 12%);
  background-color: lighten($dark, 8%);
  box-shadow: none;
  color: $white;

  &:focus {
    background: lighten($dark, 12%);
    border-color: lighten($dark, 15%);
    box-shadow: none;
    color: $white;
  }
}

.form-control:disabled, .form-control[readonly] {
  background-color: lighten($dark, 17%);
}

.custom-select {
  background-color: lighten($dark, 8%);
  border-color: lighten($dark, 12%);
  color: $white;
}

.input-sm {
  height: 30px;
}

.input-group-btn {
  .btn {
    padding: 7px 14px;
  }
}

.has-success {
  .form-control {
    border-color: $success;
    box-shadow: none !important;
  }
}

.has-warning {
  .form-control {
    border-color: $warning;
    box-shadow: none !important;
  }
}

.has-error {
  .form-control {
    border-color: $danger;
    box-shadow: none !important;
  }
}

.input-group-text {
  border-radius: 2px;
  background-color: lighten($dark,15%);
  color: $muted;
  border: 1px solid lighten($dark,15%);
}

.form-control-plaintext {
  color: $muted;
}