/* ==============
  Summernote
===================*/

.note-btn-group {
  .dropdown-menu {
    > li {
      > a {
        display: block;
        padding: 5px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: $white;
        white-space: nowrap;

        &:hover {
          background-color: lighten($dark, 2%);
        }
      }
    }
  }
}

.note-image-popover, .note-air-popover, .note-link-popover {
  display: none;

  .dropdown-toggle::after {
    margin-left: 0;
  }
}

.note-icon-caret {
  display: none;
}

.note-editor {
  position: relative;

  .btn-default {
    background-color: transparent;
    border-color: transparent;
    color: $white;
  }
  .btn-group-sm > .btn, .btn-sm {
    padding: 8px 12px;
  }
  .note-toolbar {
    background-color: lighten($dark, 7%);
    border-bottom: 1px solid lighten($dark, 7%);
    margin: 0;
  }
  .note-statusbar {
    background-color: lighten($dark, 7%) !important;
    .note-resizebar {
      border-top: none;
    }
  }
}

.note-editor.note-frame {
  border: 1px solid lighten($dark, 7%);
}

.note-popover {
  .popover {
    .popover-content {
      padding: 5px 0 10px 5px;
    }
  }

  .btn-default {
    background-color: transparent;
    border-color: transparent;
  }
  .btn-group-sm > .btn, .btn-sm {
    padding: 8px 12px;
  }
}

.note-toolbar {
  padding: 5px 0 10px 5px;
}

.note-editor.note-frame .note-editing-area .note-editable {
  padding: 10px;
  overflow: auto;
  color: $muted;
  background-color: lighten($dark, 5%);
}
